{% extends 'catalog/base.html' %}

{% block content %}
    {% load tags %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {{ object.title }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ object.content }}</h5>
                <img src="{% mediapath object.preview %}" class="card-img-top mx-auto d-block" alt=""
                     style="width: 300px; height: 300px;">
                <p class="card-text">Просмотры: {{ object.views_count }}</p>
                {% if perms.app.change_record %}
                    <a href="{% url 'catalog:update_record' object.slug %}" class="btn btn-warning">Изменить
                        запись</a>
                {% endif %}
                {% if perms.app.delete_record %}
                    <a href="{% url 'catalog:delete_record' object.slug %}" class="btn btn-danger">Удалить
                        запись</a>
                {% endif %}
                <br><br>
                <a href="{% url 'catalog:record_list' %}" class="btn btn-secondary">Все записи</a>
                <a href="{% url 'catalog:toggle_activity' object.slug %}" class="btn btn-outline-danger">Снять с
                    публикации</a>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">
                    Создана: {{ object.created_date }}<br>
                    Опубликована: {{ object.published }}
                </p>
            </div>
        </div>
    </div>


{% endblock %}